<table mat-table [dataSource]="_routes" *ngIf="_routes" fxFill>

    <!-- Train Column -->
    <ng-container matColumnDef="train">
        <th mat-header-cell *matHeaderCellDef>Поезд</th>
        <td mat-cell *matCellDef="let route">
            <a routerLink="/routes/{{route.id}}">
                <span>
                    {{route.train.number}} {{route.fromRouteStation.name}} &ndash;
                    {{route.toRouteStation.name}}
                </span>
            </a>
        </td>
    </ng-container>

    <!-- Departure Column -->
    <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef>Отправление</th>
        <td mat-cell *matCellDef="let route">
            <div class="table__time">{{timeToString(route.departureTime)}}</div>
            {{route.fromUserStation.name}}
        </td>
    </ng-container>

    <!-- Arrival Column -->
    <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef>Прибытие</th>
        <td mat-cell *matCellDef="let route">
            <div class="table__time">{{timeToString(route.arrivalTime)}}</div>
            {{route.toUserStation.name}}
        </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>В пути</th>
        <td mat-cell *matCellDef="let route"> {{durationToString(route.travelTime)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>