<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card>
        <mat-toolbar color="primary">Авторизация</mat-toolbar>
        <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <mat-form-field appearance="standard">
                <mat-label>Логин</mat-label>
                <input matInput type="text" formControlName="username" autocomplete="off">
                <mat-error *ngIf="hasError('username', 'required')">Заполните поле</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Пароль</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="hasError('password', 'required')">Заполните поле</mat-error>
            </mat-form-field>

            <div class="error__message" *ngIf="error">
                <span>{{error}}</span>
            </div>

            <button mat-button [disabled]="loading || loginForm.invalid">Войти</button>
            <a mat-button routerLink="/registration">Зарегистрироваться</a>
        </form>

    </mat-card>
</div>